.carousel-img-container {
  height: 100vh;
  width: 100vw;
}

.carousel-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.beb-container {
  position: fixed;
  height: 100vh;
  z-index: 2000;
  left: 10%;
  right: 10%;
  top: 45%;
}

.beb-description {
  font-size: 1.2rem;
}

.beb-title {
  font-size: 3rem;
}